h1 {
    color: rgb(255, 130, 130);
    background-color: #aaaaf8;
    }
    body {
        background-color: rgb(103, 172, 103);
        }
        li{
            list-style:none;
        }
        ul{
            display:flex;
            }
            li{
                list-style:none;
                padding:20px 30px 20px 30px;
                }